# macOS
.DS_Store

# Local Netlify folder
.netlify

# Supabase CLI local cache
supabase/.temp/



# Secrets / env
.env
.env.*

# Local secrets (never commit)
.zdos-local-secrets/

# Dependencies
node_modules/
